doctype html
html
	head
		meta(charset="UTF-8")
		link(rel="stylesheet", type="text/css", href="css/kaffe.css")
		script(src="js/jquery-2.1.4.min.js", type="text/javascript")
		script(src="js/about.js", type="text/javascript")
	body.container
		h1 Om denne siden
		include nav.jade
		h2 Teknologier
			ul
				li Node js
				li Jade
				li Heroku
				li Mongolab
				li JQuery