div#dagenskaffeboks.dagenskaffeboks.rectangle
	div.dagenskaffeboksRad
		label.mediumWidth.dagenskaffebokslabel Kaffe
		p#kaffenavn Friele - Frokost Kaffe (Malt)
	div.dagenskaffeboksRad
		label.mediumWidth.dagenskaffebokslabel Brygger
		p#kaffeliter Jerre
	div.dagenskaffeboksRad
		label.mediumWidth.dagenskaffebokslabel Liter
		p#kaffeliter 1.25
	div.dagenskaffeboksRad
		label.mediumWidth.dagenskaffebokslabel Skjeer
		p#kaffeskjeer 7
	div.horizontalLine.largeWidth
	div#karakterer
		div#karakterermal.dagenskaffeboks.hidden
			div.dagenskaffeboksRad
				label.mediumWidth.dagenskaffebokslabel Kaffe
				p#kaffe Friele - Frokost Kaffe (Malt)
			div.dagenskaffeboksRad
				label.mediumWidth.dagenskaffebokslabel Bruker
				p#bruker Jerre
			div.dagenskaffeboksRad
				label.mediumWidth.dagenskaffebokslabel Karakter
				p#karakter 4