div#dagenskaffeboks.popup.popuprectangle
	div.relative.dagenskaffeboks
		img#closepopup.closeIcon(src="images/cross.png", alt="Close button")
		div.kaffeboks
			div.dagenskaffeboksRad
				label.mediumWidth.dagenskaffebokslabel Kaffe
				p#kaffenavn Friele - Frokost Kaffe (Malt)
			div.dagenskaffeboksRad
				label.mediumWidth.dagenskaffebokslabel Brygger
				p#kaffemaker Jerre
			div.dagenskaffeboksRad
				label.mediumWidth.dagenskaffebokslabel Liter
				p#kaffeliter 1.25
			div.dagenskaffeboksRad
				label.mediumWidth.dagenskaffebokslabel Skjeer
				p#kaffeskjeer 7
		div.horizontalLine
		div#karakterer
			div#karakterermal.dagenskaffeboks.hidden.karakterboks
				div.dagenskaffeboksRad
					label.mediumWidth.dagenskaffebokslabel Kaffe
					p#kaffe Friele - Frokost Kaffe (Malt)
				div.dagenskaffeboksRad
					label.mediumWidth.dagenskaffebokslabel Bruker
					p#bruker Jerre
				div.dagenskaffeboksRad
					label.mediumWidth.dagenskaffebokslabel Karakter
					div.karakterSkala.mediumWidth#karakterSkala
						div.bean
							img.beanHalf(src="images/coffe_bean_left.png", alt="Coffe bean")
							img.beanHalf(src="images/coffe_bean_right.png", alt="Coffe bean")
						div.bean
							img.beanHalf(src="images/coffe_bean_left.png", alt="Coffe bean")
							img.beanHalf(src="images/coffe_bean_right.png", alt="Coffe bean")
						div.bean
							img.beanHalf(src="images/coffe_bean_left.png", alt="Coffe bean")
							img.beanHalf(src="images/coffe_bean_right.png", alt="Coffe bean")
						div.bean
							img.beanHalf(src="images/coffe_bean_left.png", alt="Coffe bean")
							img.beanHalf(src="images/coffe_bean_right.png", alt="Coffe bean")
						div.bean
							img.beanHalf(src="images/coffe_bean_left.png", alt="Coffe bean")
							img.beanHalf(src="images/coffe_bean_right.png", alt="Coffe bean")
