doctype html
html
	head
		meta(charset="UTF-8")
		link(rel="stylesheet", type="text/css", href="css/kaffe.css")
		script(src="js/jquery-2.1.4.min.js", type="text/javascript")
		script(src="js/jQueryRotate.js", type="text/javascript")
		script(src="js/index.js", type="text/javascript")
		script(src="js/karakterskala.js", type="text/javascript")
	body.container
		h1 Den store kaffesiden
		include nav.jade
		//if gjetting.visGjetteBoks
			include gjetteboks.jade
		//div.v2centerContainer
		div.hidden(name="bryggcontainermal")
			div.v2bryggContainer
				div.v2registrerNav
						a.v2registrerNavElement.v2registrerNavValgt Brygg
						a.v2registrerNavElement.v2registrerNavIkkeValgt Karakter
					div(name="Brygg")
						include registrering/nyttBrygg.jade
					div.hidden(name="Karakter")
						include registrering/nyKarakter.jade
		div.container(name="bryggliste")
			each brygg in dagensbrygg
				if !brygg.lukket
					div.v2bryggContainer
						div.v2registrerNav
							a.v2registrerNavElement.v2registrerNavValgt Brygg
							a.v2registrerNavElement.v2registrerNavIkkeValgt Karakter
						div.hidden(name="Brygg")
							include registrering/nyttBrygg.jade
						div(name="Karakter")
							include registrering/nyKarakter.jade
		image#ekstrabrygg.v2ekstraBrygg(src="images/pluss.png", alt="Ekstra brygg")