doctype html
html
	head
		meta(charset="UTF-8")
		link(rel="stylesheet", type="text/css", href="css/kaffe.css")
		script(src="js/jquery-2.1.4.min.js", type="text/javascript")
		script(src="js/jQueryRotate.js", type="text/javascript")
		script(src="js/index.js", type="text/javascript")
		script(src="js/karakterskala.js", type="text/javascript")
	body.container
		h1 Den store kaffesiden
		include nav.jade
		include gjetteboks.jade
		div.hidden(name="bryggcontainermal")
			div.bryggcontainer
				p(name="erRegistrert", style="display: none") false
				div.bryggcontainerNav
					a.bryggcontainerNavValgt Brygg
					a.bryggcontainerNavIkkeValgt Karakter
				div(name="NyttBrygg", style="display: none")
					include registrering/nyttBrygg.jade
				div(name="EksisterendeBrygg", style="display: none")
					include registrering/eksisterendeBrygg.jade
				div(name="Karakter", style="display:none")
					include registrering/nyKarakter.jade
		div.brygglistecontainer(name="bryggliste")
		image#ekstrabrygg.v2ekstraBrygg(src="images/pluss.png", alt="Ekstra brygg")