div.karakterSkala.mediumWidth#karakterSkala
	img.beanHalf(src="images/coffe_bean_left.png", alt="Coffe bean")
	img.beanHalf(src="images/coffe_bean_right.png", alt="Coffe bean")
	img.beanHalf(src="images/coffe_bean_left.png", alt="Coffe bean")
	img.beanHalf(src="images/coffe_bean_right.png", alt="Coffe bean")
	img.beanHalf(src="images/coffe_bean_left.png", alt="Coffe bean")
	img.beanHalf(src="images/coffe_bean_right.png", alt="Coffe bean")
	img.beanHalf(src="images/coffe_bean_left.png", alt="Coffe bean")
	img.beanHalf(src="images/coffe_bean_right.png", alt="Coffe bean")
	img.beanHalf(src="images/coffe_bean_left.png", alt="Coffe bean")
	img.beanHalf(src="images/coffe_bean_right.png", alt="Coffe bean")
	input(name="karakterInput", type="hidden")