div.karakterSkala.mediumWidth#karakterSkala
	div.bean
		img.beanHalf(src="images/coffe_bean_left.png", alt="Coffe bean")
		img.beanHalf(src="images/coffe_bean_right.png", alt="Coffe bean")
	div.bean
		img.beanHalf(src="images/coffe_bean_left.png", alt="Coffe bean")
		img.beanHalf(src="images/coffe_bean_right.png", alt="Coffe bean")
	div.bean
		img.beanHalf(src="images/coffe_bean_left.png", alt="Coffe bean")
		img.beanHalf(src="images/coffe_bean_right.png", alt="Coffe bean")
	div.bean
		img.beanHalf(src="images/coffe_bean_left.png", alt="Coffe bean")
		img.beanHalf(src="images/coffe_bean_right.png", alt="Coffe bean")
	div.bean
		img.beanHalf(src="images/coffe_bean_left.png", alt="Coffe bean")
		img.beanHalf(src="images/coffe_bean_right.png", alt="Coffe bean")