div.tabellContainer
	h3#tittel.tabellHeader #{tittel}
	table.tabellListe
		tr
			th#brukernavn Bruker
			th#column1 Tot. brygg
			th#column2 Snittkarakter
		each element in ledertavle
			tr
				td #{element.brukernavn}
				td #{element.antallBrygg}
				td #{element.calcAverageBryggKarakter()}