doctype html
html
	head
		meta(charset="UTF-8")
		link(rel="stylesheet", type="text/css", href="css/kaffe.css")
		script(src="js/jquery-2.1.4.min.js", type="text/javascript")
		script(src="js/jQueryRotate.js", type="text/javascript")
	body.container
		h1 Den store kaffesiden
		include nav.jade