nav
	a#navhome(href="/") Home
	a#navkalendervisning(href="/kalendervisning") Kaffehistorikk
	a#navLedertavle(href="/ledertavle") Ledertavle
	a#navkaffeliste(href="/kaffeliste") All kaffe
	a#navnyKaffe(href="/nyKaffe") Ny kaffe
	a#navkaffeKart(href="/kaffeKart") Kaffekart 
	a#navabout(href="/about") Om
div.clamp