nav
	a#navhome(href="/") Home
	a#navabout(href="/about") Away
	a#navlistDagensKaffe(href="/listDagensKaffe") Dagens kaffe historikk
	a#navkalendervisning(href="/kalendervisning") Kalenderoversikt
	a#navkaffeliste(href="/kaffeliste") All kaffe
	a#navnyKaffe(href="/nyKaffe") Ny kaffe
	a#navkaffeKart(href="/kaffeKart") Kaffekart 
div.clamp