nav
	a#navhome(href="/") Home
	a#navabout(href="/about") Away
	a#navkalendervisning(href="/kalendervisning") Kaffehistorikk
	a#navkaffeliste(href="/kaffeliste") All kaffe
	a#navnyKaffe(href="/nyKaffe") Ny kaffe
	a#navkaffeKart(href="/kaffeKart") Kaffekart 
div.clamp