doctype html
html
	head
		meta(charset="UTF-8")
		link(rel="stylesheet", type="text/css", href="css/kaffe.css")
		script(src="js/jquery-2.1.4.min.js", type="text/javascript")
		script(src="js/nykaffe.js", type="text/javascript")
	body.container
		h1 Den store kaffesiden
		include nav.jade
		div.rectangle.kaffelisteProdusentRectangle
			h2 Legg til ny kaffesort
			form(action="registrerNyKaffeSort", method="POST")
				label(for="kaffe_navn") Kaffenavn
				input.centered#kaffe_navn(type="text", name="kaffe_navn", placeholder="Frokostkaffe Original") 
				label(for="kaffe_type") Kaffe type
				input.centered#kaffe_type(type="text", name="kaffe_type", placeholder="Bønner, Malt...")
				label(for="produsent") Produsent
				input.centered#produsent(type="text", name="produsent", placeholder="Friele")
				label(for="land") Land
				input.centered#land(type="text", name="land", placeholder="Brasil")
				label(for="lat") Latitude
				input.centered#lat(type="number", name="lat", placeholder="-8.61", step="0.01")
				label(for="land") Longitude
				input.centered#lgt(type="number", name="lgt", placeholder="-50.35", step="0.01")
				label(for="url") Url
				input.centered#url(type="text", name="url", placeholder="http://shop.friele.no/epages/Frieleshop.sf/no_NO/?ObjectPath=/Shops/Friele/Products/012324")
				br
				input.submitButton(type="submit", value="Legg til kaffe")