body, h1, h2, h3, ul, li, img, label, input, div, a, p {
	font-size: 100%;
	padding: 0;
	margin: 0;
	font-weight: normal;
	color: black;
	text-decoration: none;
	list-style-type: none;
	font-family: "Comic Sans MS","Courier New";
}

.inlineblock {
	display: inline-block;
}

html {
	height: 100vh;
	background-color: #FEDBA0;
	background-attachment: fixed;
}

p {
	margin: 0;
	padding: 5px; 
}

nav {
	margin: 1em 1em 0 1em;
}
nav a {
	margin: 0;
	padding: 0.5em 0.5em 0.5em 0.5em;
	background-color: transparent;
}

nav a:hover {
	background-color: sandybrown;
}

h1 {
	margin: 0.5em;
	font-size: 2em;
	font-weight: bolder;
	text-transform: uppercase;
}

h2 {
	padding: 0.5em;
	font-size: 1.5em;
	font-weight: bold;	
	color: saddlebrown;
}

h3 {
	padding: 0.5em;
}

nav {
	flex-grow: 1;
	flex-shrink: 1;	
}

table {
	margin: 0 auto 0 auto;
}

th {
	font-size: 1em;
	padding: 0 0.5em 0 0.5em;
}

td {
	padding: 0.2em 0.5em 0.2em 0.5em;
}

tr:nth-child(2n) {
	background-color: #fedba0;
}

label {
	/*display: block;
	margin: 1em 0.5em 0 0.5em;*/
	font-weight: bold;
	color: saddlebrown;
	padding: 5px 5px 5px 0;
}

input {
	border: none;
	background-color: #fedba0;
	border-radius: 0;
	align-content: flex-end;
	box-shadow: none;
	padding-left: 0.25em;
	padding-right: 0.25em;
	margin: 0.25em 0 0.25em 0;
	font-style: normal;
}

input:focus {
	outline: none;
	border: none;
	background-color: #EDCA90;
}

::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin-left: 0.25em;
}

::-webkit-input-placeholder {
	color: gray;
}

select {
	border: 0 solid transparent;
	background-color: transparent;
	font-family: "Comic Sans MS";
	font-size: 1em;
	color: gray;
}

select:focus {
	outline: none;
}

submit {
	color: green;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.subcontainer {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

.title {
	flex-grow: 1;
	flex-shrink: 1;
}

.rectangle {
	padding: 1em;
	margin: 0.5em;
	border-radius: 1em;
	border: 0.2em solid lightslategray;
	width: 25em;
	text-align: center;
}

.dagenskaffe {
	background-color: lightskyblue;	
	border: 0.2em solid lightblue;
}

.nydagenskaffe {
	background-color: lightgrey;
	border: 0.2em solid darkgray;
	
	flex-grow: 8;
	flex-shrink: 2;
}

.smallrectangle {
	padding: 0.25em;
	margin: 0.25em;
	border-radius: 1em;
	border: 0.2em solid darkturquoise;
	background-color: darkcyan;
	width: 24em;
	text-align: center;
}

.karakterikon {	
	align-self: flex-end;
	width: 2em;
	height: 2em;
}

.karakterer {
	display: none
}

.kalender {
	border : 0.1em solid darkturquoise;
}

table.kalender tr td, table.kalender tr th {
	border : 0.1em solid darkcyan;
}
table.kalender tr td {
	height : 2.5em;
	width: 3em;
}

.verticalLineLeft {
	border-left: 3px solid saddlebrown;
	margin-left: 10px;
	padding-right: 10px;
}

.verticalLineRight {
	border-right: 3px solid saddlebrown;
	margin-right: 10px;
	padding-right: 10px; 
}

.horizontalLine {
	text-align: center;
	border-top: 3px solid saddlebrown;
}

.rightAligned {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	text-align: right;
}

.leftAligned {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	text-align: left;
}

.emptyHeight {
	height: 1em;
}

.numberInput {
	width: 20em;
}

.submitButton {
	background-color: saddlebrown;
	color: sandybrown;
	text-align: center;
	margin: 1em auto 0 auto;
	padding: 4px;
}

.submitButton:hover {
	background-color: sandybrown;
	color: saddlebrown;
}

.rightAlign {
	text-align: right;
}

.halfWidth {
	width: 20em;
}

.largeWidth {
	width: 10em;
}

.mediumWidth {
	width: 6em;
}

.mediumsmallWidth {
	width: 4em;
}

.smallWidth {
	width: 4em;
}

.tinyWidth {
	width: 1em;
}

.maxWidth {
	width: 45em;
}

.clamp {
	margin-top: 0.5em;
	width: 45em;
	height: 1em;
	
	border-right: 3px solid saddlebrown;
	margin-right: 10px;
	padding-right: 10px; 
	
	border-left: 3px solid saddlebrown;
	margin-left: 10px;
	padding-right: 10px;
	
	text-align: center;
	border-top: 3px solid saddlebrown;
}

.karakterSkala {
	vertical-align: sub;
	display: inline-block;
	padding-right: 0.5em;
	border-right: 6px solid transparent;
	height: 1em;
	margin: auto 0;
}

.bean {
	display: inline-block;
	position: relative;
	margin: auto;
	transform: rotate(15deg);
	-webkit-transform: rotate(15deg);
}

.beanHalf {
	margin: 0 auto 0 auto;
	padding: 0;
	width: 0.6em;
	height: 1.2em;
	-webkit-filter: grayscale() brightness(2);
}

.beanSelected {
	-webkit-filter: grayscale(0%);
}

.dagensresultat {	
	padding-left: 0.25em;
	padding-right: 0.25em;
}

.dagensresultat:hover {
	text-shadow: 0px 0px 8px saddlebrown;
}

.kaffeselect {
	width: 15.3em; 
}

.resultatKaffe:hover {
	text-shadow: 0px 0px 8px saddlebrown;
}

.calendar {
	display: flex;
	flex-direction: row;
	align-content: flex-start;
	justify-content: center;
	flex-flow: wrap;
}

.calendarDayOfWeek {
	display: flex;
	flex-direction: column;
}

.calendarHeader {
	text-align: center;
	width: 6em;
	padding: 2px;
}

.calendarElement {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-content: flex-start;
	
	width: 6em;
	height: 4.5em;
	margin: 1px;
	padding: 2px;
	background-color: #ffefbe;
}

.calendarElement:hover {
	background-color: sandybrown;
}

.calendarDate {
	font-size: 0.75em;
	text-align: right;
	margin: 0.5em 0.25em 0 auto;
	margin: 0;
	padding: 0 0.25em 0 0;
}

.calendarIcon {
	width: 18px;
	height: 18px;
	margin: 0 auto 0 auto;
	transform: rotate(30deg);
}

.calendarElementContent {
	font-size: 0.5em;
	text-align: center;
	font-style: italic;
	margin: auto;
	padding: 2px;
	cursor: default;
}

.shadowed {
	color: gray;
}

.calendarNavigation {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.navbutton {
	-webkit-filter: grayscale(100%) brightness(2);
}

.navbutton:hover {
	-webkit-filter: grayscale(0%) brightness(1);
}

.centered {
	text-align: center;
}

.dagenskaffeboks {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.dagenskaffeboksRad {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.dagenskaffebokslabel {
	margin: 0;
}

.hidden {
	display: none;
}


.popup {
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 1;
}

.popuprectangle {
	width: 25em;
	padding: 2em;
	background-color: #FEDBA0;
	box-shadow: 0 0 20px saddlebrown;
}

.relative {
	position: relative;
}

.kaffeboks {
	margin: 0.5em auto 0 auto;
	padding: 0.5em;
}

.karakterboks {
	margin: 0.5em auto 0 auto;
	padding: 0.5em;
	background-color: #ffefbe;
}

.closeIcon {
	width: 16px;
	height: 16px;
	align-self: flex-end;
}

.kaffelisteProdusentRectangle {
	background-color: #ffefbe;
	box-shadow: 0 0 20px saddlebrown;
	width: 25em;
	border: none;
	border-radius: 0;
	padding: 5px;
	margin: 1em auto 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.kaffelisteKaffetabell {
	text-align: left;
	width: 100%;
}

.gjetteboks {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-content: center;
}

.kaffelisteWide {
	width: 30em;
}

div.ledertavleNav {
	margin: 1em 1em 0 1em;
}
div.ledertavleNav a {
	margin: 0;
	padding: 0.5em 0.5em 0.5em 0.5em;
	background-color: transparent;
}

div.ledertavleNav a:hover {
	background-color: sandybrown;
}

.black {
	color: black;
}

.v2bryggContainer {
	padding: 1em;
}

.v2centerContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.v2horizontalContainer {
	display: flex;
	justify-content: center;
}

.v2registrerInnhold {
	display: flex;
	flex-direction: column;	
	align-content: flex-start;
	background-color: #ffefbe;
	padding: 1em;
	width: 20em;
	border: 2px solid black;
}

.v2innhold {
	display: flex;
	flex-direction: row;
	align-content: flex-start;
}

.v2innholdInput {
	flex-grow: 2;
}

.v2registrerNav {
	display: flex;
	justify-content: center;	
	margin: 0 auto -2px auto;
}

.v2registrerNav a {
	padding: 0.25em;
}

.v2registrerNavValgt {
	position: relative;
	z-index: 10;
	background-color: #ffefbe;
	border: 2px solid black;
	border-bottom: 2px solid #ffefbe;
}

.v2registrerNavIkkeValgt {
	background-color: #FEDBA0;
	border: 2px solid transparent;
}

.v2registrerNavIkkeValgt:hover {
	background-color: sandybrown;
	cursor: pointer;
}

.v2registrerNavElement {
	width: 4em;
	text-align: center;
}

.v2valgtNavElement {
	position: relative;
	z-index: 10;
	background-color: #ffefbe;
	border: 2px solid black;
	border-bottom: 2px solid #ffefbe;
}
.v2submit {
	padding: 0.5em 1em 0.5em 1em;
	margin: -2px auto 0 auto;
	background-color: #ffefbe;
	border: 2px solid black;
	border-top: 2px solid #ffefbe;
	position: relative;
	cursor: pointer;
}

.v2submit:hover {
	background-color: sandybrown;
	text-shadow: 0px 0px 4px saddlebrown;
	border: 2px solid black;
	animation-name: move;
	animation-duration: 0.2s;
}

@keyframes move {
	0% {top: 0;}
	50% {top: 2px; border: 2px solid #333333; }
	100% {top: 0;}
}

.v2submit:active {
	background-color: saddlebrown;
	color: sandybrown;
}

.v2submit:focus {
	background-color: saddlebrown;
	border: 2px solid black;
	color: sandybrown;
}

.v2ekstraBrygg {
	background-color: #ffefbe;
	border: 2px solid black;
	padding: 0.25em;
	width: 2em;
	margin: 1em;
	cursor: pointer;
}

.v2ekstraBrygg:hover {
	position: relative;
	background-color: sandybrown;
	animation-name: move;
	animation-duration: 0.2s;
}

.v2ekstraBrygg:active {
	background-color: saddlebrown;
}