form.v2centerContainer(action="registrerKarakter", method="POST")
	div.v2registrerInnhold
		input(name="sammendrag", type="hidden")
		div.v2innhold
			label Kaffe:
			select(name="kaffeid")
				option(selected="selected", disabled="disabled") Velg kaffe
		div.v2innhold
			label Bruker:
			input.v2innholdInput(name="bruker", placeholder="Jerre")
		div.v2innhold
			label Karakter:
			include ../karakterskala.jade
		div.v2innhold
			label Kommentar:
			input.v2innholdInput(name="kommentar", placeholder="Denne var god...")
	button.v2submit(type="button") Registrer