form.v2centerContainer(action="registrerNyDagensKaffe", method="POST")
	div.v2registrerInnhold
		input(name="kaffe", type="hidden")
		div.v2innhold
			label Bryggnavn:
			if nyttBrygg
				input.v2innholdInput(name="bryggnavn", placeholder="Gang of four")
			else
				p Gang of four
		div.v2innhold
			label Brygger:
			if nyttBrygg
				input.v2innholdInput(name="brygger", placeholder="Jerre")
			else
				p Jerre
		div.v2innhold
			label Kaffe:
			if nyttBrygg
				select(name="kaffeid")
					option(selected="selected", disabled="disabled") Velg kaffe
					option() Friele - Frokost kaffe (Malt)
			else
				p Friele - Frokost kaffe (Malt)
		div.v2innhold
			label Liter:
			if nyttBrygg
				input.v2innholdInput(name="liter", placeholder="1.25")
			else
				p 1.25
		div.v2innhold
			label Skjeer:
			if nyttBrygg
				input.v2innholdInput(name="skjeer", placeholder="5.5")
			else
				p 5.5
		div.v2innhold
			label Maskin:
			if nyttBrygg
				input.v2innholdInput(name="maskin", placeholder="Ja")
			else
				p ja
	input.v2submit(type="submit", value="Registrer")