doctype html
html
	head
		meta(charset="UTF-8")
		link(rel="stylesheet", type="text/css", href="kaffe.css")
	body.container
		h1 Om denne siden
		include nav.jade
		h2 Teknologier
			ul
				li Node js
				li Jade
				li Heroku
				li Mongodb
				li Mongolabs
				li JQuery