div#dagenskaffeboks.rectangle.dagenskaffe
	span#tittel 
	table
		tr
			th Kaffenavn
			th Liter
			th Skjeer
			th Kaffemaker
		tr
			td#kaffenavn
			td#kaffeliter 
			td#kaffeskjeer 
			td#kaffemaker
		table#karakterer.karkaterer
			tr
				th Karakter
				th Bruker
				th Gjetting