body, h1, h2, h3, ul, li, img, label, input, div, a, p {
	font-size: 100%;
	padding: 0;
	margin: 0;
	font-weight: normal;
	color: black;
	text-decoration: none;
	list-style-type: none;
}

html {
	height: 100vh;
	background: linear-gradient(to bottom, lightgray, lightslategray);
	background-attachment: fixed;
}

nav {
	margin: 1em;
}
nav a {
	margin: 0;
	padding: 0.5em;
	background-color: coral;
}

h1 {
	margin: 0.5em;
	font-size: 2em;
	font-weight: bolder;
	text-transform: uppercase;
}

h2 {
	font-size: 1.5em;
	font-weight: bold;	
}

nav {
	flex-grow: 1;
	flex-shrink: 1;	
}

table {
	margin: 0 auto 0 auto;
}

th {
	font-size: 1.1em;
	padding-top: 1em;
	padding-left: 0.5em;
	padding-right: 0.5em;
}

td {
	padding: 0.5em 0.5em 0.5em 0.5em;
}

label {
	display: block;
	text-align: center;
}

input {
	margin:0 auto 0 auto;
	border-radius: 0.5em;
	border:0.1 solid green;
	text-align: center;
	width: 100%;
}

select {
	width: 100%;
}

submit {
	color: green;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.title {
	flex-grow: 1;
	flex-shrink: 1;
}

.rectangle {
	padding: 1em;
	margin: 0.5em;
	border-radius: 1em;
	border: 0.2em solid lightslategray;
	width: 25em;
	text-align: center;
}

.dagenskaffe {
	background-color: lightskyblue;	
	border: 0.2em solid lightblue;
}

.nydagenskaffe {
	background-color: lightgrey;
	border: 0.2em solid darkgray;
	
	flex-grow: 8;
	flex-shrink: 2;
}

.smallrectangle {
	padding: 0.25em;
	margin: 0.25em;
	border-radius: 1em;
	border: 0.2em solid darkturquoise;
	background-color: darkcyan;
	width: 24em;
	text-align: center;
}

.karakterikon {	
	align-self: flex-end;
	width: 2em;
	height: 2em;
}

.karakterer {
	display: none
}